# Use Yahoo Finance Lib

In [2]:
try:
    import yfinance as yf
except:
    !pip install yfinance
    import yfinance as yf

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/a7/ee/315752b9ef281ba83c62aa7ec2e2074f85223da6e7e74efb4d3e11c0f510/yfinance-0.1.59.tar.gz
Collecting pandas>=0.24 (from yfinance)
  Using cached https://files.pythonhosted.org/packages/c8/df/7b92d69566df6daf65b7db7c7112130def6cfbdc254c78d8addb80402d95/pandas-1.1.5-cp36-cp36m-macosx_10_9_x86_64.whl
Requirement already satisfied: numpy>=1.15 in /Users/f095/anaconda3/envs/pyspark/lib/python3.6/site-packages (from yfinance) (1.15.4)
Requirement already satisfied: requests>=2.20 in /Users/f095/anaconda3/envs/pyspark/lib/python3.6/site-packages (from yfinance) (2.24.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading https://files.pythonhosted.org/packages/69/e7/e9f1661c28f7b87abfa08cb0e8f51dad2240a9f4f741f02ea839835e6d18/multitasking-0.0.9.tar.gz
Collecting lxml>=4.5.1 (from yfinance)
  Downloading https://files.pythonhosted.org/packages/85/3d/a6a5f7e0dcabefb5f0cc66b0e6e707dafee91255493a2954100e254af26f/lxml-4.6.3-cp36-cp36m-macosx_10_9_x86_64.whl (4.5MB)
    100% |████████████████████████████████| 4.5MB 1.8MB/s ta 0:00:01   3% |█                               | 153kB 624kB/s eta 0:00:07
Requirement already satisfied: pytz>=2017.2 in /Users/f095/anaconda3/envs/pyspark/lib/python3.6/site-packages (from pandas>=0.24->yfinance) (2018.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/f095/anaconda3/envs/pyspark/lib/python3.6/site-packages (from pandas>=0.24->yfinance) (2.7.5)
Requirement already satisfied: idna<3,>=2.5 in /Users/f095/anaconda3/envs/pyspark/lib/python3.6/site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/f095/anaconda3/envs/pyspark/lib/python3.6/site-packages (from requests>=2.20->yfinance) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in /Users/f095/anaconda3/envs/pyspark/lib/python3.6/site-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/f095/anaconda3/envs/pyspark/lib/python3.6/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: six>=1.5 in /Users/f095/anaconda3/envs/pyspark/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.11.0)
Building wheels for collected packages: yfinance, multitasking
  Running setup.py bdist_wheel for yfinance ... done
  Stored in directory: /Users/f095/Library/Caches/pip/wheels/f8/2a/0f/4b5a86e1d52e451757eb6bc17fd899629f0925c777741b6d04
  Running setup.py bdist_wheel for multitasking ... done
  Stored in directory: /Users/f095/Library/Caches/pip/wheels/37/fa/73/d492849e319038eb4d986f5152e4b19ffb1bc0639da84d2677
Successfully built yfinance multitasking
Installing collected packages: pandas, multitasking, lxml, yfinance
  Found existing installation: pandas 0.23.4
    Uninstalling pandas-0.23.4:
      Successfully uninstalled pandas-0.23.4
Successfully installed lxml-4.6.3 multitasking-0.0.9 pandas-1.1.5 yfinance-0.1.59

In [37]:
tickerSymbol = 'SNP'

tickerData = yf.Ticker(tickerSymbol)
tickerDf = tickerData.history(period='1d', start='2012-1-1', end='2020-1-25')

tickerDf

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2012-01-03,48.447136,49.114769,48.245091,49.013744,360360,0.0,0.0
2012-01-04,47.981555,48.372471,47.792684,48.271446,358150,0.0,0.0
2012-01-05,50.081073,51.187934,49.870242,50.731133,547170,0.0,0.0
2012-01-06,50.340223,50.357792,49.799970,49.843891,264160,0.0,0.0
2012-01-09,50.397329,50.972724,50.397329,50.849739,321620,0.0,0.0
...,...,...,...,...,...,...,...
2020-01-17,53.937435,53.937435,53.689078,53.839867,102800,0.0,0.0
2020-01-21,52.535998,52.695655,51.853021,51.897369,259800,0.0,0.0
2020-01-22,52.287641,52.305381,51.462747,51.604664,169600,0.0,0.0
2020-01-23,51.090216,51.427271,50.575768,51.241005,227900,0.0,0.0
2020-01-24,51.205524,51.267612,50.416109,50.699944,146200,0.0,0.0

# calculate some easy statistics over the index

In [38]:
import numpy as np

In [39]:
tickerDf["HighMean50"] = tickerDf.High.rolling(50).mean()
tickerDf["HighMean100"] = tickerDf.High.rolling(100).mean()

apply simple signal on data

In [43]:
tickerDf["Position"] = np.where(tickerDf["HighMean50"]>tickerDf["HighMean100"],1,0)

tickerDf[["Position"]].groupby("Position").agg("count")

Empty DataFrame
Columns: []
Index: [0, 1]